<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="css.css">

</head>
	
<body>
	
	<h1>I någon random plats så har dom denna tempraturen: {{ temp }}</h1>
	
	<h1>My First Heading</h1>
	<p>My first paragraph.</p>

</body>
</html>
